/* entire pages styles */
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
    text-align: center;
}
h1 {
    color: white;
    margin: 0 auto;
    width: fit-content;
    font-weight: normal;
    font-size: 50px;
    margin-top: 16px;
}

h2 {
    color: aquamarine;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 32px;
}

/* header section styles */


/* main style section */
main video {
    margin-top:16px
}

#appdescription h1 {
    font-weight: 300;
    font-size: 42px;
    color: white;
    margin-top: 16px
}

#appdescription p {
    font-size: 21px;
    color: gray;
}

/* footer style section */
footer h3 {
    text-align: right;
    color: gray;
}

footer img {
    margin-top: 16px;
    margin-bottom: 16px;
}